
/* Theme Vars */
$link-color: #48ff60;

/* Compass Vars */
$default-box-shadow-color: #000;
$default-box-shadow-v-offset: 1px;
$default-box-shadow-blur: 1px;

/* Override some defaults */ 
 
body {
  color:#bbb;
  text-shadow:1px 1px 1px #000;
  height:100%; 
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, "MS PGothic", Osaka, Sans-Serif;
  font-size: 1em;
  line-height: 1.625em;  
  word-spacing: 0.2em;
}
   
h1,h2,h3,h4,h5,h6 {
  margin:0;
  font-weight:normal;
  color:#999;
  text-rendering:optimizelegibility;
} 
h3 span.date{
  float:right;
  margin-right:2em;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight:normal;
  color:#999999;
}

h1, h2 {
  margin: 0 0 15px;
}

h1 {
  font-size:40px;
}

h2 {
  font-size: 30px;
}

pre, code {
  color:#ccc;
}

pre > code {
  /* Reset box-shadow for pygments */
  background:none;
  box-shadow:none;
  -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
} 

hr {
  border:none;
  background:#000;
  height:1px;
  border-bottom:1px solid rgba(255, 255, 255, 0.3);
  clear:both;
}

/* Layout */
.navbar {
  margin-bottom: 0;
  div.navbar-inner {
    @include border-radius(0);
    a.brand {
      padding:10px 20px;
    }
  }
}


.container > footer {
  margin-top: 20px;
  clear:both;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

div.sidebar {
  @include box-shadow(
    rgba(255, 255, 255, 0.1) 0 1px 0, 
    rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset
  );
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
  @include border-radius;
  h2, p {
    padding:15px;
  }
  h2 {
    padding-bottom: 0;
  }
  p {
    padding-top: 0;
  }
}

/* Page Content */
.content {
  img {
    float: left;
    margin: 1.625em;
    clear: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  }
  .post img{
      max-height:150px;
      width:auto;
  }
  /* when there's no page-header */
  &.no-header {
    padding-top:40px;
  }

  /* Wide column content */
  div.row {
    @include box-shadow(
       rgba(255, 255, 255, 0.1) 0 1px 0, 
       rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset
    );
  }
}

/* Page header tweaks */
.page-header {
  @include box-shadow(
     rgba(255, 255, 255, 0.1) 0 1px 0, 
     rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset
  );
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
  border:none;
  padding: 20px 20px 10px;
  margin: 0px -20px 20px;
  z-index: 0;
  @include border-bottom-left-radius;
  @include border-bottom-right-radius;
  h1 {
    color:#eee;
    margin-bottom:0;
  }
}



/* Pagination */
div.pagination {
  li {
    a { 
      @include box-shadow;
      // background: rgba(0, 0, 0, 0.8);
    }
  }
}



/* tag_box ======================================================== */
.tag_box {
  list-style:none;
  margin:0;
  padding:5px 0 ;
  overflow:hidden;
}
.tag_box li {
  line-height:28px;
}
.tag_box.inline li {
  float:left;
}
.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: rgba(255, 255, 255, 0.20);
  color:white;
  border-radius: 3px;
  text-decoration:none;
    -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
    -webkit-box-shadow: 
      rgba(0, 0, 0, 0.8) 0 1px 0, 
      rgba(255, 255, 255, 0.5) 0 1px 1px 0px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;

}

.tag_box a span{
  vertical-align:super;
  font-size:0.8em;
}
.tag_box a.active {
  background:#57A957;
  border:1px solid #4C964D;
  color:#FFF;
}
  
/* Page-specific */
div.content {
  div#page-index {
    padding-top:30px !important;
  }
}

/* Zocial Overrides */
.navbar a.zocial {
  padding-left:0 !important;
  padding-right:0 !important;
}

.zocial.googleplus:focus,
.zocial.googleplus:hover {
  color:#e01d30 !important;
}

.zocial.twitter:focus,
.zocial.twitter:hover {
  color:#46c0fb !important;
}

.zocial.github:focus,
.zocial.github:hover {
  color:#4183C4 !important;
}


.zocial.bitbucket:focus,
.zocial.bitbucket:hover {
  color:#205081 !important;
}

.zocial.flickr:focus,
.zocial.flickr:hover {
  color:#FF0084 !important;
}


.zocial.linkedin:focus,
.zocial.linkedin:hover {
  color:#50a1cb !important;
}

.zocial.lastfm:focus,
.zocial.lastfm:hover {
  color:#D51007 !important;
}

.zocial.rss:focus,
.zocial.rss:hover {
  color: #D51007 !important;
}


