/* Layout */
.navbar {
  margin-bottom: 0;
  div.navbar-inner {
    @include border-radius(0);
  }
  ul.social { 
    /* Hide social menu on low-res screens */
    @media (max-width: 767px) {
        display:none !important;
    }
  }
} 

/* Responsive Overrides */
@media (max-width: 979px) and (min-width: 768px){
  .span2{
    min-width: 125px !important;
    text-align: center;
  }
  .span10{
    width: auto !important;
    max-width: 579px !important;
  }
}
@media (max-width: 767px) {
  body {
    padding-right: 0px;
    padding-left: 0px;
  }

  div.container {
    padding: 0px 20px;
    div.page-header {
      @include border-radius(0);
    } 
  }

  .content {
    div.row {
      p {
        padding: 0px 10px;
        text-align: justify;
      }
      h1, h2, h3 {
        clear: left;
        margin: 0px 10px;
        text-align: justify;
      }
      
      img {
        max-width: 80%;
        clear: both;
        float: none;
      }
      .span2{
        display:none !important;   
      }

      .span10{
        width: 100%;
      }
      .post {
        h3 a{
          float: left;
          width: 100%;
        }
        h3 span.date{
          float: left;
          margin-left: 0px;
          width: 100%;
        }
        p {
          clear: left;
          margin: 0px 10px;
          text-align: justify;
        }
        .more {
          margin-left: 20px; 
        }
      }
    }
  }
}
@media (max-width: 360px) {
  .navbar .container .brand{
    display: none;
  }
}



