/* Partials */
/* Theme Vars */
/* Compass Vars */
/* Override some defaults */
/* line 12, ../_sass/_base.scss */
body {
  color: #bbb;
  text-shadow: 1px 1px 1px #000;
  height: 100%;
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, "MS PGothic", Osaka, Sans-Serif;
  font-size: 1em;
  line-height: 1.625em;
  word-spacing: 0.2em;
}

/* line 22, ../_sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
  color: #999;
  text-rendering: optimizelegibility;
}

/* line 28, ../_sass/_base.scss */
h3 span.date {
  float: right;
  margin-right: 2em;
}

/* line 33, ../_sass/_base.scss */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: normal;
  color: #999999;
}

/* line 38, ../_sass/_base.scss */
h1, h2 {
  margin: 0 0 15px;
}

/* line 42, ../_sass/_base.scss */
h1 {
  font-size: 40px;
}

/* line 46, ../_sass/_base.scss */
h2 {
  font-size: 30px;
}

/* line 50, ../_sass/_base.scss */
pre, code {
  color: #ccc;
}

/* line 54, ../_sass/_base.scss */
pre > code {
  /* Reset box-shadow for pygments */
  background: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
}

/* line 63, ../_sass/_base.scss */
hr {
  border: none;
  background: #000;
  height: 1px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  clear: both;
}

/* Layout */
/* line 72, ../_sass/_base.scss */
.navbar {
  margin-bottom: 0;
}
/* line 74, ../_sass/_base.scss */
.navbar div.navbar-inner {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 76, ../_sass/_base.scss */
.navbar div.navbar-inner a.brand {
  padding: 10px 20px;
}

/* line 83, ../_sass/_base.scss */
.container > footer {
  margin-top: 20px;
  clear: both;
}

/* line 87, ../_sass/_base.scss */
.container > footer p {
  text-align: center;
  /* center align it with the container */
}

/* line 91, ../_sass/_base.scss */
div.sidebar {
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 99, ../_sass/_base.scss */
div.sidebar h2, div.sidebar p {
  padding: 15px;
}
/* line 102, ../_sass/_base.scss */
div.sidebar h2 {
  padding-bottom: 0;
}
/* line 105, ../_sass/_base.scss */
div.sidebar p {
  padding-top: 0;
}

/* Page Content */
/* line 111, ../_sass/_base.scss */
.content {
  /* when there's no page-header */
  /* Wide column content */
}
/* line 112, ../_sass/_base.scss */
.content img {
  float: left;
  margin: 1.625em;
  clear: left;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}
/* line 118, ../_sass/_base.scss */
.content .post img {
  max-height: 150px;
  width: auto;
}
/* line 122, ../_sass/_base.scss */
.content .post p {
  margin: 0 20px 10px 0px;
  text-align: justify;
}
/* line 127, ../_sass/_base.scss */
.content.no-header {
  padding-top: 40px;
}
/* line 132, ../_sass/_base.scss */
.content div.row {
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
}
/* line 139, ../_sass/_base.scss */
.content img.clear {
  clear: both;
  float: none;
}

/* Page header tweaks */
/* line 146, ../_sass/_base.scss */
.page-header {
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  padding: 20px 20px 10px;
  margin: 0px -20px 20px;
  z-index: 0;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 159, ../_sass/_base.scss */
.page-header h1 {
  color: #eee;
  margin-bottom: 0;
}

/* Pagination */
/* line 170, ../_sass/_base.scss */
div.pagination li a {
  -moz-box-shadow: 0px 1px 1px #000;
  -webkit-box-shadow: 0px 1px 1px #000;
  box-shadow: 0px 1px 1px #000;
}

/* tag_box ======================================================== */
/* line 180, ../_sass/_base.scss */
.tag_box {
  list-style: none;
  margin: 0;
  padding: 5px 0;
  overflow: hidden;
}

/* line 186, ../_sass/_base.scss */
.tag_box li {
  line-height: 28px;
}

/* line 189, ../_sass/_base.scss */
.tag_box.inline li {
  float: left;
}

/* line 192, ../_sass/_base.scss */
.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 3px;
  text-decoration: none;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 0, rgba(255, 255, 255, 0.5) 0 1px 1px 0px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
}

/* line 207, ../_sass/_base.scss */
.tag_box a span {
  vertical-align: super;
  font-size: 0.8em;
}

/* line 211, ../_sass/_base.scss */
.tag_box a.active {
  background: #57A957;
  border: 1px solid #4C964D;
  color: #FFF;
}

/* Page-specific */
/* line 219, ../_sass/_base.scss */
div.content div#page-index {
  padding-top: 30px !important;
}

/* Zocial Overrides */
/* line 225, ../_sass/_base.scss */
.navbar a.zocial {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* line 230, ../_sass/_base.scss */
.zocial.googleplus:focus,
.zocial.googleplus:hover {
  color: #e01d30 !important;
}

/* line 235, ../_sass/_base.scss */
.zocial.twitter:focus,
.zocial.twitter:hover {
  color: #46c0fb !important;
}

/* line 240, ../_sass/_base.scss */
.zocial.github:focus,
.zocial.github:hover {
  color: #4183C4 !important;
}

/* line 246, ../_sass/_base.scss */
.zocial.bitbucket:focus,
.zocial.bitbucket:hover {
  color: #205081 !important;
}

/* line 251, ../_sass/_base.scss */
.zocial.flickr:focus,
.zocial.flickr:hover {
  color: #FF0084 !important;
}

/* line 257, ../_sass/_base.scss */
.zocial.linkedin:focus,
.zocial.linkedin:hover {
  color: #50a1cb !important;
}

/* line 262, ../_sass/_base.scss */
.zocial.lastfm:focus,
.zocial.lastfm:hover {
  color: #D51007 !important;
}

/* line 267, ../_sass/_base.scss */
.zocial.rss:focus,
.zocial.rss:hover {
  color: #F60 !important;
}

/* Layout */
/* line 2, ../_sass/_responsive.scss */
.navbar {
  margin-bottom: 0;
}
/* line 4, ../_sass/_responsive.scss */
.navbar div.navbar-inner {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 7, ../_sass/_responsive.scss */
.navbar ul.social {
  /* Hide social menu on low-res screens */
}
@media (max-width: 767px) {
  /* line 7, ../_sass/_responsive.scss */
  .navbar ul.social {
    display: none !important;
  }
}

/* Responsive Overrides */
@media (max-width: 979px) and (min-width: 768px) {
  /* line 17, ../_sass/_responsive.scss */
  .span2 {
    min-width: 125px !important;
    text-align: center;
  }

  /* line 21, ../_sass/_responsive.scss */
  .span10 {
    width: auto !important;
    max-width: 579px !important;
  }
}
@media (max-width: 767px) {
  /* line 27, ../_sass/_responsive.scss */
  body {
    padding-right: 0px;
    padding-left: 0px;
  }

  /* line 32, ../_sass/_responsive.scss */
  div.container {
    padding: 0px 20px;
  }
  /* line 34, ../_sass/_responsive.scss */
  div.container div.page-header {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
  }

  /* line 41, ../_sass/_responsive.scss */
  .content div.row p {
    padding: 0px 10px;
    text-align: justify;
  }
  /* line 45, ../_sass/_responsive.scss */
  .content div.row h1, .content div.row h2, .content div.row h3 {
    clear: left;
    margin: 0px 10px;
    text-align: justify;
  }
  /* line 51, ../_sass/_responsive.scss */
  .content div.row img {
    max-width: 80%;
    clear: both;
    float: none;
  }
  /* line 56, ../_sass/_responsive.scss */
  .content div.row .span2 {
    display: none !important;
  }
  /* line 60, ../_sass/_responsive.scss */
  .content div.row .span10 {
    width: 100%;
  }
  /* line 64, ../_sass/_responsive.scss */
  .content div.row .post h3 a {
    float: left;
    width: 100%;
  }
  /* line 68, ../_sass/_responsive.scss */
  .content div.row .post h3 span.date {
    float: left;
    margin-left: 0px;
    width: 100%;
  }
  /* line 73, ../_sass/_responsive.scss */
  .content div.row .post p {
    clear: left;
    margin: 0px 10px;
    text-align: justify;
  }
  /* line 78, ../_sass/_responsive.scss */
  .content div.row .post .more {
    margin-left: 20px;
  }
}
@media (max-width: 360px) {
  /* line 86, ../_sass/_responsive.scss */
  .navbar .container .brand {
    display: none;
  }
}
/* Posts */
/* line 3, ../_sass/_post.scss */
article.post header {
  margin-bottom: 10px;
}
/* line 5, ../_sass/_post.scss */
article.post header h1, article.post header h2 {
  margin: 0;
}

/* line 15, ../_sass/_post.scss */
div.posts article .date {
  font-size: 10px;
  padding: 10px 0;
}
/* line 20, ../_sass/_post.scss */
div.posts article .date time {
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 10px;
}
